<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.crazyandroid.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity android:name="CrazyAndroid"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>>
        <activity android:name="CodeViewActivity"
            android:label="@string/code_view_activity">
        </activity>
        <activity android:name="MaxViewActivity"
            android:label="@string/max_view_activity">
        </activity>
        <activity android:name="CustomViewActivity"
            android:label="@string/custom_view_activity">
        </activity>
        <activity android:name="TableLayoutActivity"
            android:label="@string/table_layout_activity">
        </activity>
        <activity android:name="FrameLayoutActivity"
            android:label="@string/frame_layout_activity">
        </activity>
        <activity android:name="ColorLightsActivity"
            android:label="@string/color_light_activity">
        </activity>
        <activity android:name="RelativeLayout"
            android:label="@string/relative_layout_activity">
        </activity>
        <activity android:name="AbsoluteLayoutActivity"
            android:label="@string/absolute_layout_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.BasicActivity"
            android:label="@string/basic_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.TextViewActivity"
            android:label="@string/text_view_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.LogInActivity"
            android:label="@string/login_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.ImageButtonActivity"
            android:label="@string/image_button_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.Patch9Activity"
            android:label="@string/patch9_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.RadioCheckActivity"
            android:label="@string/radio_check_activity">
        </activity>
        <activity android:name="org.crazyandroid.basic.ToggleButtonActivity"
            android:label="@string/toggle_button_activity"/>
        <activity android:name="org.crazyandroid.basic.ClockActivity"
            android:label="@string/clock_activity" />
        <activity android:name="org.crazyandroid.basic.ImageActivity"
            android:label="@string/image_activity"></activity>
        <activity android:name="org.crazyandroid.advance.AdvanceActivity"
            android:label="@string/advance_activity"/>
        <activity android:name="org.crazyandroid.advance.AutocompleteActivity"
            android:label="@string/autocomplete_activity" />
        <activity android:name="org.crazyandroid.advance.SpinnerActivity"
            android:label="@string/spinner_activity"/>
        <activity android:name="org.crazyandroid.advance.TimeDateActivity"
            android:label="@string/time_date_activity"/>
    </application>
</manifest>